<app-page-title title="商品管理"></app-page-title>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th style="width: 100px; text-align: center;">圖片</th>
                <th>品號</th>
                <th>品名</th>
                <th style="width: 100px; text-align: center;">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr style="height: 100px;">
                <td style="width: 100px; height:100px; text-align: center;">
                    <img style="height: 100%; width: 100%; border-radius: 5px;" [src]="'234'" (error)="onImageError($event)">
                </td>
                <td style="vertical-align: middle;">A01</td>
                <td style="vertical-align: middle;">商品A01</td>
                <td style="vertical-align: middle; width: 100px; text-align: center;">
                    <div class="row">
                        <div class="col-12 hover-bg" style="cursor: pointer; color: green;">
                            <a class="noselect">修改</a>
                        </div>
                        <div class="col-12 hover-bg" style="cursor: pointer; color: red;">
                            <a class="noselect">刪除</a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>