<app-page-title title="商品管理"></app-page-title>
<div class="row">
  <div class="col-12">
    <button class="btn btn-primary float-right" (click)="createItem()">新增</button>
  </div>
</div>
<div class="table-responsive" style="overflow: hidden; margin-top: 20px">
  <table class="table">
    <thead>
      <tr>
        <th style="width: 100px; text-align: center;">圖片</th>
        <th>品號</th>
        <th>品名</th>
        <th class="hidden-xs hidden-sm">單價</th>
        <th class="hidden-xs hidden-sm">商品描述</th>
        <th style="width: 100px; text-align: center;">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr style="height: 100px;" *ngFor="let item of items">
        <td style="width: 100px; height:100px; text-align: center;">
          <img style="height: 100%; width: 100%; border-radius: 5px;" [src]="item.Str1" (error)="onImageError($event)">
        </td>
        <td style="vertical-align: middle;">{{item.ID}}</td>
        <td style="vertical-align: middle;">{{item.Name}}</td>
        <td class="hidden-xs hidden-sm" style="vertical-align: middle;">{{item.Price}}</td>
        <td class="hidden-xs hidden-sm" style="vertical-align: middle;">{{item.Description}}</td>
        <td style="vertical-align: middle; width: 100px; text-align: center;">
          <div class="row">
            <div class="col-12 hover-bg" style="cursor: pointer; color: green;">
              <a class="noselect" (click)="updateItem(item)">修改</a>
            </div>
            <div class="col-12 hover-bg" style="cursor: pointer; color: red;">
              <a class="noselect" (click)="deleteItem(item)">刪除</a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
