/* You can add global styles to this file, and also import other style files */

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

  .hover-bg:hover {
    background: lightgray;
  }

  @media (max-width: 767px) {
    .hidden-xs {
        display:none!important
    }
  }

  @media (min-width: 768px) and (max-width:991px) {
    .hidden-sm {
        display:none!important
    }
  }

  @media (min-width: 992px) and (max-width:1199px) {
    .hidden-md {
        display:none!important
    }
  }

  @media (min-width: 1200px) {
    .hidden-lg {
        display:none!important
    }
  }

  .pointer:hover {
    cursor: pointer;
  }

  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
